<h2  class="sub-header"  >My Vacations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: red">Total Days: 30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Days left:<span id="my_vacation_list_remain_days"></span></span></h2>
<div class="table-responsive">
    <table class="table table-striped table-hover" >
        <thead>
            <tr>
                <th>Type</th>
                <th>From</th>
                <th>To</th>
                <th>Total</th>
                <th>Passed</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="my_vacation_tbody"></tbody>
    </table>
</div>