<h2  class="sub-header"  >All employee information</h2>
<div class="canvi-content">

    <div class="table-responsive">
        <table class="table table-striped table-hover"  id="tab">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Empoylee Name</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="js-canvi-open-button--left" id="employee_tbody">
            </tbody>
        </table>
    </div>
</div>