<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>LYB Office management System</title>
        <link href="../CSS/bootstrap.min.css" rel="stylesheet">
        <link href="../CSS/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="../CSS/dashboard.css" rel="stylesheet">
        <link href="../CSS/canvi.css" rel="stylesheet">
        <link href="../CSS/Modal.css" rel="stylesheet">
        <link href="../CSS/clock/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/public.css" />
        <link rel="stylesheet" href="../css/signin_1.css" />
        <link href="../CSS/Vaction.css" rel="stylesheet">

        <script src="../JS/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="../CSS/ie-emulation-modes-warning.js"></script>
        <script src="../JS/page_load.js"></script>
        <script type="text/javascript" src="../JS/canvi.js"></script>
        <script src="../Global/GlobalConfig.js"></script>
        <script src="../JS/service.js"></script>
        <script type="text/javascript" src="../js/rili.js"></script>

    </head>


    <body onload="init()">
        <nav class="navbar navbar-inverse navbar-fixed-top" id="nav_top"></nav>
        <script> $("#nav_top").load("top_navbar.html");</script>

        <!-- 修改个人信息 -->
        <div id="modifyDetails" class="modal fade"></div>
        <script> $("#modifyDetails").load("dialog_modifyDetails.html");</script>

        <!--申请假期-->
        <div id="apply_vacation" class="modal fade"></div>
        <script> $("#apply_vacation").load("dialog_apply_vacation.html");</script>

        <!--修改密码-->
        <div id="change_password" class="modal fade"></div>
        <script> $("#change_password").load("dialog_change_password.html");</script>

        <main class="js-canvi-content canvi-content" >
            <div class="row">
                <!-- menu-->
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="js-canvi-open-button--left_register"><a href="#">Add employee<span class="sr-only">(current)</span></a></li>
                        <li><a onclick = "employeeListPage()">Display Employee</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a onclick="vacationListPage()">Vacations</a></li>
                        <li><a href="#">Nav item again</a></li>
                    </ul>
                </div>

                <!-- Main-->
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Dashboard</h1>

                    <!--4Circles-->
                    <!--<div id="middle_4_circles"></div>
                    <script> $("#middle_4_circles").load("middle_4_circles.html");</script>-->
                    <div class="row placeholders" >
                        <div class="col-xs-6 col-sm-3 placeholder" onclick="attendencePage()"> 
                            <div id="circle" class="out-1 flex flex-align-center flex-pack-center" style="color: white" >
                                <div class="out-1 flex flex-align-center flex-pack-center" id="signIn">
                                    <div class="out-2 flex flex-align-center flex-pack-center">
                                        <div class="signBtn">
                                            <strong id="sign-txt">Press to Sign</strong><br/>
                                            <span> Sign&nbsp;<em id="sign-count"> 0</em> day </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <div id="root" style="width:200;height: 200" class="img-responsive"></div>
                            <script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0/umd/react.production.min.js'></script>
                            <script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0/umd/react-dom.production.min.js'></script>
                            <script src='https://cdnjs.cloudflare.com/ajax/libs/styled-components/3.4.10/styled-components.min.js'></script>
                            <script src="../CSS/clock/index.js"></script>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                            <h4>Message</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                            <h4>Notice</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                    </div>
                    <!--Init Page -->
                    <div id="init_page" style="height:640px"></div>
                    <script> $("#init_page").load("main_init_page.html");</script>
                    <!--Employee List-->
                    <div id="employee_list" hidden style="height:640px"></div>
                    <script> $("#employee_list").load("main_employee_list.html");</script>
                    <!--Attendence-->
                    <div class="Calendar " hidden id="attendence_page" style="height:640px"></div>
                    <script> $("#attendence_page").load("main_attendance.html");</script>
                    <!--Vacation List-->
                    <div id="vacation_list" hidden style="height:640px"></div>
                    <script> $("#vacation_list").load("main_vacation_list.html");</script>
                    <!--My vacation List-->
                    <div id="my_vacation_list" hidden style="height:640px"></div>
                    <script> $("#my_vacation_list").load("main_my_vacation_list.html");</script>


                </div>
            </div>
        </main>

        <!--right page ... employee details-->
        <div id="right_employee_details"></div>
        <script> $("#right_employee_details").load("right_employee_details.html");</script>

        <!-- right page ... register-->
        <div id="right_register"></div>
        <script> $("#right_register").load("right_register.html");</script>

        <!--right ...  vacation List-->
        <div id="right_vacation"></div>
        <script> $("#right_vacation").load("right_employee_vacation.html");</script>
    </body>
</html>
